.progress-card{

    background:#111827;

    border:1px solid #1F2937;

    border-radius:18px;

    padding:30px;

}

.progress-card h2{

    margin-bottom:25px;

}

.progress-item{

    display:flex;

    align-items:center;

    gap:15px;

    background:#1A2235;

    padding:18px;

    border-radius:12px;

    margin-bottom:15px;

}

.progress-item span{

    font-size:24px;

}

.progress-item p{

    font-size:18px;

}