/* ------------------------------
   Google Font
------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* ------------------------------
   CSS Reset
------------------------------ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Inter',sans-serif;

    background:#020617;

    color:#F8FAFC;

    min-height:100vh;

    overflow-x:hidden;

}

/* ------------------------------
   Root Variables
------------------------------ */

:root{

    --background:#020617;

    --card:#0F172A;

    --border:#1E293B;

    --primary:#2563EB;

    --success:#22C55E;

    --warning:#F59E0B;

    --danger:#EF4444;

    --text:#F8FAFC;

    --secondary:#94A3B8;

}

/* ------------------------------
   Root
------------------------------ */

#root{

    width:100%;

    min-height:100vh;

}

/* ------------------------------
   Global Container
------------------------------ */

.app-container{

    width:100%;

    min-height:100vh;

    max-width:1400px;

    margin:auto;

    padding:60px 40px;

}

/* ------------------------------
   Hero
------------------------------ */

.hero-section{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    gap:18px;

    min-height:80vh;

}

.hero-title{

    font-size:64px;

    font-weight:700;

    color:var(--text);

}

.hero-description{

    font-size:20px;

    color:var(--secondary);

}

/* ------------------------------
   Scrollbar
------------------------------ */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:#0F172A;

}

::-webkit-scrollbar-thumb{

    background:#334155;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#475569;

}

/* ------------------------------
   Responsive
------------------------------ */

@media(max-width:992px){

.hero-title{

font-size:48px;

}

.hero-description{

font-size:18px;

}

}

@media(max-width:768px){

.app-container{

padding:30px 20px;

}

.hero-title{

font-size:36px;

}

.hero-description{

font-size:16px;

}

}